<footer class="footer bg-dark py-3 mt-auto">   
    <div class="container">
        <span class="text-muted"><center>&copy;Quizlet 2021</center></span>
    </div>
</footer>

<!-- <footer class="mt-auto text-white-50">
            <p>&copy;JobsInQ 2021 </p>
        </footer> -->




<!-- py => padding on y axis -->